# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/.project
/moc_mainwindow.cpp
/Makefile
/tp-34
/*.pro.user
/main.o
/mainwindow.cpp.autosave
/mainwindow.o
/moc_mainwindow.o
/myProjectLog.log
/settings.conf
/settings.conf~
/settings.ini
/ui_mainwindow.h
/log/
/.*~
/*.debug
/*.release
/debug/
/release/
